.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 580px;
  border-radius: 0 0 0 10px;
  border-left: 4px solid #424542;
  border-bottom: 4px solid #424542;
  border-right: 0.5px solid gray;
  padding: 1em 0.5em;
  position: relative;
  background: linear-gradient(to bottom, #000000 0%, #8e8ea7 42%, #ffffff 100%);
}

.header {
  font-size: 1.3em;
  margin-left: 1em;
  color: white;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button.button {
  border: 1.5px solid white;
  border-radius: 15px;
  color: white;
  background: transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  margin-top: 0.7em;
  float: left;
  cursor: pointer;
  margin-left: 1em;
}

.info {
  display: flex;
  flex-direction: column;

  .account {
    display: flex;
    align-items: center;
    flex-direction: row;

    img.avatar {
      width: 4em;
      border: 2px solid white;
      border-radius: 50%;
      float: left;
      margin-left: 1em;
    }

    & > span {
      margin-left: 10px;
    }
  }
}
