* {
  box-sizing: border-box;
}

body {
  background: black;
  background-image: url("./assets/images/rain.gif");
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-family: "Press Start 2P", sans-serif;
}
