* {
  box-sizing: border-box;
}

body {
  background: white;
  background-image: url("./assets/images/pixelRain.gif");
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-family: "Press Start 2P", sans-serif;
}
